Listing all projects that are open for accepting requests
<br/>

<table id="projects" class="table table-striped table-bordered">
	<tbody>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>License</td>
		<td>Organization</td>
		<td>Created by</td>
		<td>Created at</td>
		<td>Action</td>
	</tr>
	
	<%= render @projects %>
	</tbody>
</table>

<%= paginate @projects, :theme => 'twitter-bootstrap' %>
