<% if user_signed_in? && current_user.please_update == false %>
	<div class="alert">
		<div class="please_update">
		Please tell us more about YOU! <%= link_to "click here", edit_user_path(current_user) %>
		<%= link_to "Dismiss.", please_update_user_path(current_user), method: :put, class: "pull-right" %>
		</div>
	</div>
<% end %>
